config.json
node_modules
storage/*
build/*
extras
dist/bundle.js
dist/bundle.js.map

src/javascript/helpers/firebaseConfig.ts

electron-builder.json
yarn-error.log
*.log
list.txt
electron-builder.json.disabled
*.disabled