@import '../../../styles/variables.scss';

.slider {
    width: 100%;
    padding: 0;
    .headerContainer {
        margin-bottom: 0px;
        .header, .value {
            display: inline-block; 
            margin: 0; 
        }
        .value {
            float: right;
        }
    }

    .sliderInput {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;

        &::-webkit-slider-runnable-track  {
            width: 100%;
            height: 8px;
            border-radius: 4px;
            background: #070708;
            outline: none;
            padding: 0;
        }

        &::-webkit-slider-thumb {
            background: $dliveaccent;
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;             
        }
    }
}
