.startupBackground {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 100% 100%;
    -webkit-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}