@import '../../../styles/popup.scss';
@import '../../../styles/globals.scss';

.buttonstack {
    display: inline-flex;
    width: 100% !important;
    margin-top: 10px;
  
    .submit {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
}

.creativeBotPopup {
    margin-bottom: 10px;
}