@import './../../../styles/variables.scss';

.contextMenu {
    list-style-type: none;
    display: inline-block;
    .contextMenuContent {
        position: absolute;
        font-size: 12px;
        background-color: #1f1f1f;
        color: #b4b4b4;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        width: auto;
        min-width: 170px;
        padding-top: 5px;
        padding-bottom: 5px;
        user-select: none;
        -webkit-box-shadow: 2px 2px 1px rgba(21,21,21,0.6);
        z-index: 100000000000;
    }

    &.sideMenu {
        position: absolute;
        right: 0;
    }
}

.contextMenuItem {
    display: flow-root !important;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 24.4px;

    .contextItemContent, .itemContainer {
        display: flow-root !important;
        height: 100%;
        width: 100%;
    }
    
    .contextItemContent {

        .title, .shortcut, .arrow { 
            display: inline-block; 
            height: auto;

            span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
        }

        .title {
            float: left;
        }
        .shortcut {
            float: right;
            color: darkgrey;
            margin-left: 20px;
            &:hover { color: black; }
        }

        svg.arrow {
            float: right;
            color: darkgrey;
            margin-left: 20px;
            height: 18px;
            width: 18px;
            fill: darkgrey !important;
                stroke: darkgrey !important;

            &:hover { 
                color: black;

                svg {
                    fill: black !important;
                    stroke: black !important;
                }
            }
        }

        &.inactive { color: gray; }

        &:hover {
            &:not(.inactive) {
                .contextItemContent {
                    .title, .shortcut, .arrow {
                        color: black;
                    }
                }
            }
        }
    }

    &:hover {
        &:not(.inactive) {
            background-color: $dliveaccent;
            cursor: pointer;

            :not(.contextMenu) {
                .title, .shortcut, .arrow {
                    color: black;
                }
            }
        }
    }

    .seperatorLine {
        display: block;
        height: 0.5px;
        border: 0;
        border-top: 0.5px solid #616161;
        padding: 0;
    }

}