.menu {
}
.hamburger {
  font-size: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 5px;
  display: inline;
  svg:hover {
    cursor: pointer;
  }
}
.menu_popout {
  width: 250px;
  height: 100vh;
  position: relative;
  transition: all 0.5s;
  top: 0;
  left: -250px;
  z-index: 9999999;
  svg {
    font-size: 3em;
    position: absolute;
    right: 0;
    transition: all 0.15s;
  }
  svg:hover {
    cursor: pointer;
    fill: #ffd300 !important;
    stroke: #ffd300 !important;
  }
  &.menu_toggled {
    left: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  ul {
    list-style-type: none;
    &,
    li {
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      &:hover {
        cursor: pointer;
        color: #ffd300;
      }
      &:hover:nth-child(1) {
        cursor: default;
        color: inherit;
      }
    }
  }
}
