@import '../../../styles/header.scss', '../../../styles/popup.scss';

.Points {
  width: 100%;
  height: 100%;
  min-width: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.events,
.viewers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 3px;
  padding-left: 10px;
  &:hover {
    cursor: pointer;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  width: calc(100% - 10px);
  padding: 5px;
}

.box {
  height: 24px;
  width: 24px;
  border: 3px solid;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  // &:hover {
  //   cursor: pointer;
  // }
  svg {
    stroke-width: 2px;
    font-size: 1.2em;
  }
}

.toggle_wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  &.titles {
    user-select: none;
    div:hover {
      cursor: pointer;
    }
  }
  div {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 1.2em;
      min-width: 19px;
      stroke-width: 2px;
    }
    &.spacer {
      flex: 2;
    }
    &.username {
      width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.points {
      width: 100px;
      text-overflow: ellipsis;
      svg {
        stroke-width: 0px;
        padding-left: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.banned,
    &.modded {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.modded {
      width: 55px;
    }
  }
}

.user {
  width: calc(100% - 10px);
  min-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  .image_container {
    padding-right: 5px;
    img {
      border-radius: 50%;
    }
  }
  .message_content {
    flex: 1;
    text-align: left;
    span {
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
