@import '../../../styles/globals.scss';
@import '../../../styles/animations.scss';

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 475px;
  max-height: 90%;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.close {
  position: relative;
  svg {
    z-index: 999;
    font-size: 2em;
    stroke-width: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.15s ease-in-out;
    &:hover {
      cursor: pointer;
      fill: #ffd300 !important;
      stroke: #ffd300 !important;
    }
  }
}
