.Points {
  width: 100%;
  height: 100%;
  min-width: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  overflow-y: auto;
  width: calc(100% - 10px);
  padding: 5px;
}

.box {
  height: 24px;
  width: 24px;
  border: 3px solid;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  // &:hover {
  //   cursor: pointer;
  // }
  svg {
    stroke-width: 2px;
    font-size: 1.2em;
  }
}

textarea.usersearch {
  flex: 1;
  border: 0;
  outline-width: 0;
  resize: none;
  height: 16px;
  font-size: 15px;
  width: 150px;
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
    margin: 0px;
    font-size: 1.5em;
  }
  textarea {
    flex: 1;
    border: 0;
    outline-width: 0;
    resize: none;
    text-align: center;
    height: 40px;
    font-size: 30px;
    padding: 12px;
    width: 250px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .input {
    margin: 10px;
    outline-width: 0;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    color: inherit;
  }
  .submit {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid;
    &:hover {
      cursor: pointer;
    }
  }
}

.toggle_wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  &.titles {
    user-select: none;
    div:hover {
      cursor: pointer;
    }
  }
  div {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    text-overflow: ellipsis;
    display: flex;
    // justify-content: center;
    align-items: center;
    svg {
      font-size: 1.2em;
      min-width: 19px;
      stroke-width: 2px;
    }
    &.spacer {
      flex: 2;
    }
    &.username {
      width: 150px;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.value {
      width: 100px;
      text-align: left;
      text-overflow: ellipsis;
      word-wrap: none;
      white-space: nowrap;
      flex: 1;
      svg {
        stroke-width: 0px;
        padding-left: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.banned,
    &.edit {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
    &.edit {
      width: 55px;
    }
  }
}

.user {
  width: calc(100% - 10px);
  min-height: 24px;
  padding: 5px;
  text-overflow: wrap;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .image_container {
    padding-right: 5px;
    img {
      border-radius: 50%;
    }
  }
  .message_content {
    flex: 1;
    text-align: left;
    span {
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
