<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DLive Chat Bot</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app"></div>

    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: 'AIzaSyDj5vSvQHyxvm8vQMJUlEM6I9ouQpC_r0U',
        authDomain: 'creativebuildsio.firebaseapp.com',
        databaseURL: 'https://creativebuildsio.firebaseio.com',
        projectId: 'creativebuildsio',
        storageBucket: 'creativebuildsio.appspot.com',
        messagingSenderId: '821207665817',
        appId: '1:821207665817:web:b8774a46ca7bd2db'
      };
      firebase.initializeApp(firebaseConfig);
    </script>
  </body>
</html>
