@import '../../../styles/popup.scss';

.Chat {
  width: 100%;
  height: 100%;
  min-width: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickersPopup {
  width: 100% !important;
  .content {
    width: 100%;
  }
}

.link {
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

#messages > div {
  margin-bottom: 5px;
  border-radius: 5px;
}

.message {
  width: calc(100% - 35px);
  padding: 5px;
  text-overflow: wrap;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-right: 30px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
  .image_container {
    padding-right: 5px;
    img {
      border-radius: 50%;
    }
  }
  .message_content {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      padding-right: 5px;
      height: 100%;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }

    .message {
      font-weight: normal;
    }
  }

  .sticker_container {
    display: table-cell;
    position: relative;

    .emoteDeleteButton { display: none; }

    &:hover {
      .emoteDeleteButton {
        position: absolute;
        display: block;
        background: white;
        width: 25px;
        height: 25px;
        border-radius: 16px;
        float: right;
        top: 0;
        right: 0;
        box-shadow: 1px 1px 30px rgba(21, 21, 21, 0.6);

        &:hover {
          svg {
              fill: green !important;
              stroke: green !important;
          }
        }

        svg {
          vertical-align: middle;
          text-align: center;
          height: 16px;
          width: 16px;
          margin: 0px;
          margin-top: 4px;
          margin-left: 4px;
          fill: Black !important;
          stroke: black !important;

          &:hover {
              fill: green !important;
              stroke: green !important;
          }
        }
      }
    }

    .sticker {
      margin-left: 10px;
      // max-width: 80px;
      max-height: 80px;
    }
  }
}

.buttonstack {
  display: inline-flex;
  width: 100% !important;

  .submit {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.noStickers {
  vertical-align: middle;
  position: absolute;
  top: 30%;
  width: 100%;

  user-select: none;

  svg {
    width: 72px;
    height: 72px;
  }
}

.gridView {
  display: block;
  text-align: center;
  position: relative;
  height: 100%;
}

.previewSticker {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  border-radius: 16px;
  user-select: none;
  box-shadow: 1px 1px 30px rgba(21,21,21,0.6);
}

.stickerIdContainer {
  margin-top: 10px;
  margin-bottom: 10px;

  .idTitle {
    width: 100%;
    display: block;
    text-align: center;
    user-select: none;
  }

  .idInfo {
    width: 100%;
    display: block;
    text-align: center;
    color: #727272;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  width: calc(100% - 10px);
  padding: 5px;
}

.viewers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: #ffd300 !important;
    stroke: #ffd300 !important;
    fill: #ffd300 !important;
    cursor: pointer;
  }
  span {
    font-size: 0.8em;
  }
}

.message_remove {
  position: absolute;
  right: 0px;
  font-size: 2em;
  top: 0px;
  &:hover {
    cursor: pointer;
  }
}

.input {
  width: calc(100% - 10px);
  height: 48px;
  display: flex;
  border: 5px solid rgba(0, 0, 0, 0);
  textarea {
    flex: 1;
    outline-width: 0;
    resize: none;
    padding: 0px;
    border: 2px solid;
    padding: 5px;
    transition: all 0.15s ease-in-out;
    border-radius: 5px;
    &:hover,
    &:focus {
      border-color: #ffd300 !important;
      caret-color: #ffd300;
    }
  }
  .send {
    font-size: 2em;
    width: 63px;
    // height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border: 2px solid;
    border-radius: 5px;
    &:hover,
    &:focus {
      border-color: #ffd300 !important;
      caret-color: #ffd300;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
