@import './../../../styles/variables.scss';

.emote_container {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
        .emote {
            border: 4px solid $dliveaccent;
            border-radius: 8px;
        }
    }

    .emote {
        box-sizing: content-box;
        margin-left: 10px;
        // max-width: 80px;
        max-height: 80px;
        user-select: none;
    }
}